.header {
  margin-top: 60px;
   
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: #444;
  cursor: pointer;
}

.headerTitleSm {
  position: absolute;
  top: 18%;
  font-size: 20px;
  cursor: pointer;
}

.headerTitleLg {
  position: absolute;
  top: 20%;
  font-size: 100px;
  font-family: 'Times New Roman', Times, serif;
}

.headerImg {
  width: 100%;
  height: 500px;
  margin-top: 60px;
  object-fit: fill;
}
